body {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #ebe9e3;
}

.nail-closet {
    width: 100%;
}

.closet-title {
    margin-bottom: 30px;
    color: #aa7871;
    text-align: center;
    font-size: 1.5rem;
}

/* 棚 */
.shelf {
    margin-bottom: 15px;
}

.shelf-board {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 8px solid #dcc6b0; 
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(189, 189, 189, 0.05);
}

/* ネイルボトルのデザイン */
.nail-bottle {
    margin: 0 11px 0 11px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* キャップ部分 */
.nail-bottle .cap {
    width: 15px;
    height: 25px;
    background: #fffdfe;
    border: 1px solid #dcc6b0;
    border-radius: 2px;
}

/* 瓶の部分 */
.nail-bottle .liquid {
    width: 35px;
    height: 40px;
    background-color: var(--bottle-color);
    border: 2px solid #fffdfe;
    border-radius: 8px 8px 12px 12px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    margin-top: -2px; 
}

.sheer .liquid{
    background: linear-gradient(to bottom, var(--bottle-color), rgba(255,255,255,0.5));
    opacity: 0.7;
}

.lame .liquid{
    background-image: 
        radial-gradient(circle, rgba(255,255,255,0.8) 1px, transparent 1px),
        radial-gradient(circle, rgba(255,255,255,0.4) 1px, transparent 1px);
    background-size: 8px 8px, 5px 5px; 
    background-position: 0 0, 4px 4px;
}

.magnet .liquid{
    background: radial-gradient(circle at 50% 40%, rgb(248, 245, 245) 0%, var(--bottle-color) 60%);
    box-shadow: inset 0 0 10px rgba(37, 37, 37, 0.3);
}

/* パーツケースのデザイン */
.parts-case {
    width: 60px;
    height: 60px;
    margin: 0 5px 70px 5px;
    background: #fffdfe;
    border: 1.5px solid #dcc6b0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.05);
}

